.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.toggle{
    margin : 20px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    &-btn {
        padding: 10px;
        border: none;
        background: #fff;
        width: 200px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        margin : 2px;
        transition: ease-in-out .2s;
        &:hover{
            background: #1B98F5;
            color: #fff;
        }
    }
}
.active{
    width: 300px;
    background: #1B98F5;
    color: #fff;
}

form{
    background: #fff;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    min-height: 500px;
    position: relative;
}
h3, h5{
    text-align: center;
}
h3{
    text-transform: uppercase;
    color: #1B98F5;
}
.input{
    padding: 10px;
    position: relative;
    &-label{
        font-weight: bold;
        font-size: 14px;
        position: absolute;
        background: #fff;
        top: 10px;
        left: 20px;
        padding: 2px 5px;
    }
    input{
        margin-top: 10px;
        padding: 10px;
        width: 400px;
        border: 2px solid #1B98F5;
        border-radius: 5px;
    }
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0px;
    &-btn{
        border: none;
        background: #1B98F5;
        color: #fff;
        width: 200px;
        padding: 12px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
         position: relative;
         z-index: 99;
    }
}
.submit-btn::after{
    content: "";
    background: #ffffff56;
    width: 100%;
    height: 100%;
    left : 0px;
    top : 0px;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    transform: scale(1,0);
    transition: transform ease-in-out .2s;
    transform-origin: bottom;
}
.submit-btn:hover::after{
    transform: scale(1);

}
.error{
    position: absolute;
    bottom: 50px;
    text-align: left;
    width: 100%;
    left: 0px;
    &-message{
        border : 1px solid #DE4839;
        background: #de473955;
        padding: 5px;
        border-radius: 5px;
        margin: 20px;
        font-size: 12px;    
    }
}

@media only screen and(max-width  : 640px){
    .auth{
        background: #fff;
        height: calc(100vh - 60px);
    }
    form{
        width: 100%;
        height: 100%;
        box-shadow: none;

    }
    .input{
        width: 100%;
        input{
            width: 100%;
        }
    }
    .toggle{
        box-shadow: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &-btn{
            width: 30%;
        }
    }
    .active{
        width: 50%;
    }
}