.header{
    display: flex;
   
    justify-content: space-between; 
    width: 100vw;
    height: 60px;
    background: #fff;
}
.logo{
    display: flex;
    padding: 10px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fa-icon{
        font-size: 30px;
        color: #1B98F5;
    }
    &-title{
        color: #1B98F5;
        font-weight: bold;
        padding: 10px;
        font-size: 18px;
        span{
            color: #000;
        }
    }
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 100px;
    input{
        border: none;
        background: #eaedf1;
        padding: 10px;
        font-size: 15px;
        border-radius: 100px;
        width: 400px;
        height: 35px;
        transition: width ease .2s;
        &:focus{
            background: #e6f3ff;
        }
    }
    fa-icon{
        width: 60px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        font-size: 17px;
        color: #1B98F5;
        background: red;
        background: #eaedf1;
        margin : 10px;
        cursor: pointer;
        &:hover{
            background: rgba(0, 0, 0, 0.208);
        }
    }
}

.optionBar{
    display: flex;
}
.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;
    width: 100px;
    position: relative;
    transition:  ease-in-out .2s;

    z-index: 99;
    &:hover{
        fa-icon{
            color: #fff;
        }
        .option-title{
            color : #fff;
        }
    }
    fa-icon{
        padding: 3px;
        color: #1B98F5;
    }
    &-title{
        font-size: 13px;
        padding: 4px;
        text-transform: uppercase;
    }
}
.option::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:  #1B98F5;
    transform: scale(1,0);
    transition: transform ease-in-out .2s;
    transform-origin: bottom;
    z-index: -1;
}

.option:hover::after{
    transform: scale(1);
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 200px;
    cursor: pointer;
    position: relative;
    z-index: 99;
    &-name{
        font-size: large;
        font-weight: bold;
        
    }
    &-image{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        padding: 2px;
        border : 2px solid #1B98F5;
        
    }
    fa-icon{
        font-size: 25px;
    }
}
.user:hover img{
    border : 2px solid #fff;

}
.bar{
    display: flex;
}

// .user::after{
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     left: 0px;
//     top : 0px;
//     background:  #cacaca;
//     transform: scale(1,0);
//     transition: transform ease-in-out .2s;
//     transform-origin: bottom;
//     z-index: -1;
// }
// .user:hover::after{
//     transform: scale(1);
// }

.logout::after{
    background: #D82E2F;
}
.auth::after{
    background: #1FAA59;
}
.auth{
    width: 200px;
}
// Responsive Design

@media only screen and  (max-width : 640px){
    .header{
        position: fixed;
        bottom: 0px;
        height: 60px;
        width: 100%;
    }
    .logo{
        display: none;
    }
    .optionBar{
        width: 100%;
    }
    .user{
        justify-content: center;
        align-items: center;
        &-name{
            display: none;
        }
    }
    .auth{
        width: 70px;
    }
    .option{
        width: 100%;
        display: flex;
        flex-grow: 1 1 auto;
        max-width: auto;
        min-width: 70px;
        & > *{
            font-size: 12px;
        }
    }
    .logout{
            display: none;
    }
    .option fa-icon{
        padding: 2px;
    }
    .searchBar{
        display: none;
    }
}