<div class="header">
  <div class="logo">
    <fa-icon [icon]="feed"></fa-icon>
    <div class="logo-title">Social<span>gram</span></div>
  </div>
  <div class="searchBar">
    <input type="text" />
    <fa-icon [icon]="search"></fa-icon>
  </div>
  <div class="bar">
    <div class="optionBar">
      <div class="option">
        <fa-icon [icon]="feed"></fa-icon>
        <div class="option-title">Feeds</div>
      </div>
      <div class="option">
        <fa-icon [icon]="explore"></fa-icon>
        <div class="option-title">Explore</div>
      </div>
      <div class="option">
        <fa-icon [icon]="messge"></fa-icon>
        <div class="option-title">Chats</div>
      </div>
    </div>
    <div class="auths" (click)="changeAuth()" *ngIf="!authState">
      <fa-icon [icon]="signin"></fa-icon>
      <div class="auths-text">Sign In / Sign Up</div>
    </div>
    <div class="user white" (click)="changeAuth()" *ngIf="authState">
      <img
        src="https://images.pexels.com/photos/10774229/pexels-photo-10774229.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt=""
      />
      <div class="user-name">Ritul Daryan</div>
    </div>
  </div>
</div>
